{% extends 'base.html' %} 

{% block title %}Add New User{% endblock %}

{% block content %}

<h1>Add New User</h1>
<form method = "POST">
    <p>
        First Name 
        <input type="text" name="first_name" placeholder="Enter a first name">
    </p>
    <p>
        Last name 
        <input type="text" name="last_name" placeholder="Enter a last name">
    </p>
    <p>
        Image URL 
        <input type="URL" name="image_url" placeholder="Provide an image for this user">
    </p>
    <button class="btn btn-success">Add</button>

</form>
{% endblock%}